html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
*, *::before, *::after {
	box-sizing: inherit;
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
}
#console {
	border-radius: 5px;
	background: #212121;
	box-shadow: 0 0 0.5em silver;
	width: 17em;
	height: 17em;
	position: relative;
	display: flex;
	flex-direction: column;
}
#console #top {
	flex: 0 0 2em;
	padding: 0 0.5em;
	background: #3a3a3a;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	align-items: center;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
#console #top #close {
	background: red;
	border-radius: 50%;
	height: 1em;
	width: 1em;
	cursor: pointer;
}

#console #content {
	overflow-x: hidden;
	height: 100%;
}

#console #content pre {
	user-select: none;
	font-size: 1.1em;
	flex: 1 0 calc(100% - 2em);
	white-space: pre-wrap;
	word-break: break-word;
	font-family: 'Courier New', Courier, monospace;
	color: #fff;
}
#content pre span{
	display: block;
}
#content {
	overflow: scroll;
	padding: 0 1em;
}